/* General Reset */
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #020e0b;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #31a87693; /* Cor do botão */
  color: white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: opacity 0.3s, visibility 0.3s;
}

.scroll-to-top img {
  width: 40px;
  height: 40px;
}

.scroll-to-top:hover {
  background-color: #45a049; /* Cor ao passar o mouse */
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}


::-webkit-scrollbar {
  width: 6px; /* Largura da barra de rolagem */
  height: 5px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-track {
  background: #00886a34; /* Cor do canto para barras cruzadas */
  border-radius: 10px; /* Cantos arredondados */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #00ffab, #00ff95); /* Cor do "polegar" */
  border-radius: 10px; /* Cantos arredondados */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #00ffab, #00ffaa); /* Cor ao passar o mouse */
}

::-webkit-scrollbar-corner {
  background: #33333300; /* Cor do canto para barras cruzadas */
}

/* Para navegadores que não suportam webkit */
.scrollbar-container {
  scrollbar-color: #00ffab #222; /* Cor do polegar e trilho */
  scrollbar-width: thin; /* Define a largura como fina */
}



header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    color: #fff;
    padding: 10px 20px;
    background-color: #d8d8d80c;
    backdrop-filter: blur(2px); /* Aplica o efeito de desfoque */
    top: 0;
    z-index: 100;
    padding: 20px;
    border-bottom: 1px solid #ffffff48; /* Adiciona uma linha branca no border-bottom */
}

.navbar-logo {
    text-decoration: none;
    color: #fff;
    height: 100%;
    font-weight: bold;
    padding: 10px;
    border-right: 1px solid #ffffff3a; /* Adiciona uma linha branca no border-bottom */
}

.navbar-logo img {
  width: 30px;
  height: auto;
  margin-right: 15px;
 }

.navbar-menu ul {
    display: flex;
    list-style: none;
}

.navbar-menu ul li {
    margin: 0 20px;
}

.navbar-menu ul li a {
    text-decoration: none;
    color: #d8d8d8;
    font-size: 15px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.navbar-menu ul li a:hover {
    color: #00e9af;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    background: #fff;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: 0.3s;
}
.bg {
    width: 100%;
    height: 100%;
  
    background: #00000000;
    --gap: 7em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.075);
  
    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);
  }
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    margin-top: 5%;
   
}

#home {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    width: 100%;
    justify-content: center;
    
}

.home-text h1 {
    width: 85%;
    position: relative;
    line-height: 1.2;
    font-size: 50px;
    opacity: 0;
    transform: translateY(100px); /* Move o h1 de baixo para cima */
    animation: slideFromTop 1.2s ease-out forwards;
}



.home-text p {
    width: 40%;
    position: relative;
    margin-top: 35px;
    opacity: 0;
    color: rgba(255, 255, 255, 0.61);
    font-size: 20px;
    transform: translateY(-100px); /* Move o p de cima para baixo */
    animation: slideFromBottom 1.0s ease-out forwards;
}

@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px); /* Começa de cima */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Fica na posição normal */
    }
}

@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100px); /* Começa de baixo */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Fica na posição normal */
    }
}

.highlight {
    color: #01ecb2;
    font-weight: bold;
}

.botao {
    margin-top: 5%;
    background: linear-gradient(90deg, #00946f, #00b88a);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.botao:hover {
    background: linear-gradient(90deg, #00664d, #004d39);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.botao:active {
    transform: scale(0.98);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.highlight {
    color: #01ecb2; /* Cor específica */
    font-weight: bold; /* Opcional: destacar ainda mais */
}

.home-text {
    width: 50%;
}

.home-img {
    width: 32%; /* Ocupa metade da largura */
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
    
}

.home-img img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
    height: auto; /* Mantém a proporção */
    z-index: 50;
    cursor: pointer;
    transition: all 0.5s ease;
}

.home-img img:hover {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
    height: auto; /* Mantém a proporção */
    z-index: 50;
    transform: scale(1.10);
}

.efeito {
    position: absolute;
    top: 1;
    right: 0;
    z-index: 1; /* Garanta que esteja abaixo de outras seções */
    overflow: hidden;
    pointer-events: none; /* Evita interações desnecessárias */

}

  
.efeito img {
    width: 190%;
    opacity: 100%;
    opacity: 0.9;
}


  #about {
    display: flex;
    background-color: #081816;
    align-items: center; /* Centraliza verticalmente */
    width: 100%;
    justify-content: center;
    padding: 50px;
    
  }

  .trace-about{
    width: 26%;
    height: 2px;
    margin-top: 10px;
    background-color: #01ecb2;
    animation: slideFromTop 1s ease-out forwards;
    transform: translateY(100px); /* Move o h1 de baixo para cima */
    
  }

  .about-img {
    width: 40%;
    margin-left: 50px;
  }

  .about-text {
    width: 60%;
    animation: slideLeft 5s ease-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

  }
  
  
  .about-img img {
    width: 80%;
    animation: slideLeft 5s ease-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    margin-top: 20px;
    cursor: pointer;
    transition: all 1s ease;
  }

  .about-img img:hover {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
    height: auto; /* Mantém a proporção */
    z-index: 50;
    cursor: pointer;
    transform: scale(1.10);
}
/* From Uiverse.io by MikeAndrewDesigner */ 
  
  .about-text h1 {
    width: 85%;
    position: relative;
    line-height: 1.2;
    font-size: 50px;
    color: white;

    opacity: 0;
    transform: translateY(100px); /* Move o h1 de baixo para cima */
    animation: slideFromTop 1.2s ease-out forwards;
  }

  .about-text p {
    width: 80%;
    position: relative;
    margin-top: 25px;
    opacity: 0;
    color: rgba(255, 255, 255, 0.61);
    font-size: 20px;
    transform: translateY(-100px); /* Move o p de cima para baixo */
    animation: slideFromBottom 1.0s ease-out forwards;
  }

  .networks {
    
    display: flex;
    /* Centraliza os botões horizontalmente */
    gap: 20px; /* Espaço entre os botões */
    margin: 30px 0px;
}

/* Estilo dos botões (cards) */
.networks a {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    text-decoration: none;
    background-color: #f4f4f40a;
    width: 60px;
    height: 60px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.219); /* Sombra leve */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efeitos suaves */
}

/* Ajuste das imagens */
.networks img {
    width: 40%; /* Redimensiona as imagens para caberem no card */
    height: auto; /* Mantém a proporção da imagem */
}

/* Efeito hover */
.networks a:hover {
    transform: scale(1.1); /* Aumenta ligeiramente o botão */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.582); /* Aumenta a sombra */
    border: 1px solid #00ffaa6b;
}

/* Efeito active */
.networks a:active {
    transform: scale(0.95); /* Reduz ligeiramente o tamanho ao clicar */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.171); /* Sombra menor */
    border: 2px solid #00ffaa;
}


  #skills {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza verticalmente */
    width: 100%;
    justify-content: center;
    background-color: #020e0b;
    padding: 50px;
    background-color: transparent;
            background-image: radial-gradient(#00fabb27 1px, #e5e5f700 1px);
            background-size: 30px 30px;
  }

  
    .skills-h1{
        color: white;
        font-size: 50px;
    }

    .skills-card-h1 {
        color: white;
        font-size: 27px;
        font-weight: 700;
    }

    .card-skills p {

       font-size: 17px;
       color: rgba(255, 255, 255, 0.651);
    }

  .card-skills {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 30px;
     width: 350px;
     height: 350px;
     background-color: #081816;
     border: 1px solid #00ffb325;
     transition: 0.5s ease-out;
     border-radius: 10px;
     overflow: visible;
     box-shadow: 5px 10px 21px rgb(0, 0, 0);
     transition: all 1s ease;
     gap: 10px;
     animation: slideRight 5s ease-out;
     animation-timeline: view();
     animation-range: entry 0% cover 40%;
  }



  .card-skills:hover {
    border-color: #00f8ba;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.363);
    transform: scale(1.01);
   }


  .skills-content {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    gap: 50px;
    justify-content: center;
  }

  

  .card-skills img {
    width: 25%;
    margin-bottom: 20px;
  }

  #projetos {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza verticalmente */
    width: 100%;
    justify-content: center;
    background-color: #081816;
    padding: 50px;
  }

  
    .projetos-h1{
        color: white;
        font-size: 50px;
    }

   .projetos-content {
        width: 100%;
        margin-top: 5%;
        display: flex;
        gap: 50px;
        justify-content: center;
      }

      #experience {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza verticalmente */
        width: 100%;
        justify-content: center;
        background-color: #081816;
        padding: 50px;
      }
    
      
        .experience-h1{
            color: white;
            font-size: 50px;
        }
    
       .experience-content {
        animation: slideLeft 5s ease-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
            width: 100%;
            margin-top: 5%;
            display: flex;
            gap: 50px;
            justify-content: center;
            margin-left: 60px;
            animation: slideLeft 5s ease-out;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
          }

          #projects {
            display: flex;
            flex-direction: column;
            align-items: center; /* Centraliza verticalmente */
            width: 100%;
            justify-content: center;
            background-color: #020e0b;
            padding: 50px;
            background-color: transparent;
            background-image: radial-gradient(#00fabb27 1px, #e5e5f700 1px);
            background-size: 30px 30px;
            
          }

          
        
          
          .projects-h1 {
            color: #ffff;
            font-size: 50px;
            text-align: center;
            letter-spacing: 2px;
            margin-bottom: 20px;
          }
          
          .projects-content {
            width: 100%;
            margin-top: 5%;
            display: flex;
            gap: 40px;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 70px;
          }
          
          .card-projects {
            width:475px;
            cursor: pointer;
            height: 300px;
            border-radius: 50px 0 50px  0 ;
            background-color: #000000;
            position: relative;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.726);
            transition: transform 0.5s, box-shadow 0.3s;
            animation: slideRight 5s ease-out;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
          }
          
          .card-projects:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 15px rgba(0, 0, 10, 0.616);
          }
          
          .card-content {
            width: 100%;
            height: 100%;
            position: relative;
            border-bottom: 3px solid #00f8ba;
            border-radius: 50px 0 50px  0 ;
          }
          
          .card-content img {
            width: 100%;
            height: 100%;
            border-radius: 50px 0 50px  0 ;
            object-fit: cover;
            transition: transform 0.3s;
          }
          
          .card-projects:hover .card-content img {
            transform: scale(1.05);
          }
          
          .card-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(1, 14, 9, 0.973);
            border-radius: 43px 0 43px  0 ;
            opacity: 20; /* Começa invisível */
            transition: opacity 0.5s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
          }

          .tech {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            gap: 10px;
          }

          .tech img {
            width: 40px;
            background-color: #000f0b;
            padding: 8px;
            border: solid 1px #00f8baa1;
            border-radius: 50px;
            box-shadow: 1px 1px 8px 1px #00f8ba8c;
          }

      
          
          .card-projects:hover .card-overlay {
            opacity: 0; /* Torna-se visível no hover */
          }
          
          .subtitle-card h1 {
            font-size: 25px;
            font-weight: bold;
            margin: 0 0 10px;
          }
          
          .subtitle-card p {
            font-size: 15px;
            line-height: 1.4;
          }
           

           .info-btn {
            
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 25px;
              background-color: #00f8ba;
              border-radius: 50px;
              padding: 10px;
              font-weight: bold;
              cursor: pointer;
              box-shadow: 1px 1px 15px 1px #00ffbf77;
              transition: 0.2s ease;
              color: rgb(0, 37, 12);
       
           }

          .modal {
            display: none; /* Modal inicialmente escondido */
            position: fixed;
            z-index: 1; /* Fica sobre o conteúdo da página */
            left: 0;
            top: 0;
            width: 100%;
            z-index: 100;
            height: 100%;
            background-color: rgba(0, 3, 2, 0.904); /* Fundo escuro com opacidade */
            display: flex;
            justify-content: center;
            align-items: center;
            transition: opacity 0.3s ease; /* Transição suave */
          }

          .modal.open {
            display: flex; /* Torna o modal visível */
            opacity: 1; /* Modal visível após transição */
          }
          
          /* Conteúdo do Modal */
          .modal-content {
            background-color: #030f0c;
            border: solid 1px #00f8ba1a;
            box-shadow: 3px 3px 45px rgba(0, 255, 213, 0.137);
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 60px;
            justify-content: center;
            width: 100%;
            max-width: 600px;
            border-radius: 25px;
            color: #333;
            
            transition: transform 0.3s ease; /* Animação de entrada suave */
          }
          
          
          .modal-titles {
            display: flex;
            padding: 40px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            text-align: center;
            color: rgba(255, 255, 255, 0.678);
        }

        .button-repos {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border: none;
          background-color: #00f8ba;
          border-radius: 50px;
          padding: 10px 40px;
          font-weight: bold;
          cursor: pointer;
          box-shadow: 1px 1px 25px 1px #00f8ba77;
          transition: 0.2s ease;
          color: rgb(0, 37, 12);
        }

        .button-repos img {
          width: 18px;
          height: auto;
        }

        .repository-btn {
          transition: 0.2s ease;
          margin-bottom: 30px;
         
        }

        .button-repos:hover {
          transform: scale(1.10);
       
        }

        
        .btn-container {
          display: flex;
          gap: 25px;
        }
       
          /* Estilo do botão de fechar */
          .close {
            color: #ffffff;
            font-size: 23px;
            font-weight: 800;
            position: absolute;
            top: 30px;
            padding: 0px 12px;
            right: 30px;
            cursor: pointer;
            border: 1px solid;
            border-radius: 50px;
            transition: color 0.3s ease; /* Transição suave para a cor */
          }
          
          #modalTitle {
            line-height: 1.1; /* Ajusta o espaçamento entre as linhas do h2 */
        }

          /* Estilo do botão de fechar ao passar o mouse */
          .close:hover,
          .close:focus {
            color: rgb(82, 82, 82);
            text-decoration: none;
            cursor: pointer;
          }
          
          /* Efeito de transição suave quando o modal é aberto */
          .modal.open {
            display: flex; /* Torna o modal visível */
            opacity: 1; /* Modal visível após transição */
          }
          
          .modal-content.open {
            transform: scale(1.05); /* Leve aumento do conteúdo para animação */
          }

          #footer {
            display: flex;
           justify-content: space-between;
            align-items: center; /* Centraliza verticalmente */
            width: 100%;
            font-size: 15px;
            background-color: #081816;
            padding: 30px;
          }

          .footer-text {
            color: white;
            font-size: 15px;
            font-weight: 400;
            margin-left: 20px;
          }
          .logo-footer {
            color: #00f8ba;
            font-weight: 900;
          }
          
          #conhecimentos  {
         
            margin-bottom: 40px;
            padding: 0px;
           
          }
          
          .conhecimentos-container {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 55px;
          }
          
          .conhecimentos-h1 {
            color: white;
            font-size: 50px;
            margin-bottom: 20px;
            text-align: center;
          }
          
          .conhecimentos-card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            max-width: 800px; /* Para centralizar e limitar a largura */
          }
          
          .conhecimentos-card-container img {
             width: 65px;
          }
          .card-conhecimento {
            animation: slideLeft 5s ease-out;
            animation-timeline: view();
            animation-range: entry 0% cover 40%;
            width: 120px; /* Ajuste para caber 5 cards */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 120px;
            background-color: #031810;
            border: 1px solid #ffffff23;
            border-bottom: 2px solid #00ffb3f3;
            border-radius: 30px 0px 30px 0px;
            box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.432);
            transition: transform 0.5s ease;
           
            
          }
          
          .card-conhecimento:hover {
            transform: scale(1.1);
            border: 1px solid #00f8baa1;
            border-bottom: 2px solid #00ffb3f3;
            box-shadow: 1px 1px 7px 1px #00f8ba38;
             /* Cor ao passar o mouse */
          }

          .logo-footer img {
              width: 30px;
          }
          
        
/* Responsive Design */
@media (max-width: 767px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #01130e;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 70px;
        left: 0;
    }

    .navbar-menu ul {
        flex-direction: column;
        align-items: center;
        margin-top: 35%;
    }
    

    .navbar-menu ul li {
        margin: 10px 0;
    }

    .navbar-menu.show {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
    }

    .navbar-logo {
      text-decoration: none;
      color: #fff;
      height: 100%;
      font-weight: bold;
      padding: 10px;
      border-right: 1px solid #ffffff3a; /* Adiciona uma linha branca no border-bottom */
  }
  
  .navbar-logo img {
    width: 25px;
    height: auto;
    margin-right: 15px;
   }

    #home {
      display: flex;
      align-items: start; /* Centraliza verticalmente */
      width: 100%;
      justify-content: center;
      padding: 30px;
      margin-left: 0px;
      flex-direction: column;
  }
  
  .home-text h1 {
      width: 100%;
      position: relative;
      line-height: 1.2;
      font-size: 27px;
      opacity: 0;
      transform: translateY(100px); /* Move o h1 de baixo para cima */
      animation: slideFromTop 1.2s ease-out forwards;
  }

  .home-text {
    width: 90%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
  
  
  
  .home-text p {
      width: 80%;
      position: relative;
      margin-top: 15px;
      opacity: 0;
      color: rgba(255, 255, 255, 0.61);
      font-size: 15px;
      transform: translateY(-100px); /* Move o p de cima para baixo */
      animation: slideFromBottom 1.0s ease-out forwards;
  }

  

  .botao {
    margin-top: 10%;
    background: linear-gradient(90deg, #00946f, #00b88a);
    color: #fff;
    border: none;
    padding: 15px 23px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    width: 65%;
    margin-bottom: 20%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.efeito {
  position: absolute;
  top: 1;
  right: 0;
  z-index: 1; /* Garanta que esteja abaixo de outras seções */
  overflow: hidden;
  pointer-events: none; /* Evita interações desnecessárias */

}


.efeito img {
  width: 280%;
  opacity: 75%;
  opacity: 0.55;
}


.home-img {
  width: 50%; /* Ocupa metade da largura */
  display: flex;
  justify-content: start; /* Centraliza a imagem horizontalmente */
  align-items: center; /* Centraliza a imagem verticalmente */
  margin-top: -30px;
  
}

header.navbar {
  padding: 12px;

}

  

    #skills {
      margin: 0;
      padding: 50px;
      }

    .skills-content {
        width: 100%;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .skills-h1{
        color: white;
        font-size: 32px;
        margin-bottom: 20px;
    }

    .skills-card-h1 {
        color: white;
        font-size: 25px;

    }

    .card-skills p {
       font-size: 14px;
       color: rgba(255, 255, 255, 0.651);
    }

  .card-skills {
    display: flex;
    flex-direction: column;
    padding: 30px;
     width: 100%;
     height: 100%;
     gap: 10px;
  }

  #about {
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
    align-items: center; /* Centraliza todos os elementos horizontalmente */
    justify-content: center; /* Centraliza os elementos verticalmente */
    background-color: #081816;
    width: 100%;
    padding: 15px;
}

.about-img {
    width: 100%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente a imagem */
    margin-right: 50px;
}

.about-img img {
    width: 50%;
    max-width: 250px; /* Define um tamanho máximo para telas maiores */
    height: auto;
    
}

.about-text {
  padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o texto horizontalmente */
    text-align: center;
    width: 100%; /* Limita a largura do texto para centralizar melhor */
    margin-top: 20px;
}

.about-text h1 {
    font-size: 30px;
    color: #fff;
}

.about-text p {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
    line-height: 1.6; /* Aumenta o espaçamento entre linhas */
    text-align: center; /* Garante que o texto esteja centralizado */
}

.networks {
    display: flex;
    justify-content: center; /* Centraliza os ícones horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    gap: 20px; /* Espaço entre os botões */
    margin: 30px 0px;
}

/* Estilo dos botões (cards) */
.networks a {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    text-decoration: none;
    background-color: #f4f4f40a;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.219);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Ajuste das imagens */
.networks img {
    width: 50%; /* Redimensiona as imagens para caberem no card */
    height: auto; /* Mantém a proporção da imagem */
}

/* Efeito hover */
.networks a:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.582);
    border: 1px solid #00ffaa6b;
}

/* Efeito active */
.networks a:active {
    transform: scale(0.95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.171);
    border: 2px solid #00ffaa;
}



#experience {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza verticalmente */
  width: 100%;
  justify-content: center;
  background-color: #081816;
  padding: 50px;
}


  .experience-h1{
    color: white;
    font-size: 32px;
    font-weight: 700;
    }

 .experience-content {
      width: 100%;
      margin-top: 5%;
      display: flex;
      gap: 50px;
      justify-content: center;
      margin-right: 40px;
    }

    .skills-card-h1 {
      color: white;
      font-size: 20px;

  }

  .card-skills p {
     font-size: 15px;
     color: rgba(255, 255, 255, 0.651);
  }

  
  .projects-h1 {
    color: #ffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

  .conhecimentos-h1 {
    font-size: 32px;
  }

  #conhecimentos {
    margin-bottom: -30px;
  }

  .conhecimentos-card-container img {
    width: 55px;
 }

  .modal {
    padding: 20px;
  }

  .modal-titles {
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.678);
}

.button-repos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: #00f8ba;
  border-radius: 50px;
  padding: 10px 40px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px 25px 1px #00f8ba77;
  transition: 0.2s ease;
  color: rgb(0, 37, 12);
}

.button-repos img {
  width: 18px;
  height: auto;
}

.repository-btn {
  transition: 0.2s ease;
  margin-bottom: 30px;
 
}

.button-repos:hover {
  transform: scale(1.10);

}

.modal-titles h2 {
  font-size: 35px;
}

.modal-titles p {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 12px;
  width: 75%;
}


}

@media (min-width: 768px) and (max-width: 1200px) { 

  #home {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    width: 100%;
    justify-content: center;
}

.home-text h1 {
    width: 85%;
    position: relative;
    line-height: 1.2;
    font-size: 40px;
    opacity: 0;
    transform: translateY(100px); /* Move o h1 de baixo para cima */
    animation: slideFromTop 1.2s ease-out forwards;
}

.home-text {
 margin-bottom: 50px;
 margin-top: 100px;
}



.home-text p {
    width: 60%;
    position: relative;
    margin-top: 35px;
    opacity: 0;
    color: rgba(255, 255, 255, 0.61);
    font-size: 20px;
    transform: translateY(-100px); /* Move o p de cima para baixo */
    animation: slideFromBottom 1.0s ease-out forwards;
}


.highlight {
    color: #01ecb2;
    font-weight: bold;
}

.botao {
    margin-top: 5%;
    background: linear-gradient(90deg, #00946f, #00b88a);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

  #skills {
      margin: 0;
      padding: 50px;
      }

    .skills-content {
        width: 100%;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .skills-h1{
        color: white;
        font-size: 50px;
        margin-bottom: 20px;
    }

    .skills-card-h1 {
        color: white;
        font-size: 30px;

    }

    
  .card-skills img {
    width: 12%;
    margin-bottom: 20px;
  }

    .card-skills p {
       font-size: 20px;
       color: rgba(255, 255, 255, 0.651);
    }

  .card-skills {
    display: flex;
    flex-direction: column;
    padding: 30px;
     width: 100%;
     height: 100%;
     gap: 10px;
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

